<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
    <%= search_form_for @q, url: search_items_path, local: true, method: :get, class: "search-form" do |f| %>
      <%= f.search_field :name_cont, placeholder: "キーワードから探す", class: "input-box" %>
      <%= button_tag type: 'submit', class: "search-button"  do %>
        <i class='fa fa-search'></i>
      <% end %>
    <% end %>
  </div>
  <div class='nav'>
    <ul class="lists-left">
      <li class="category-list", id="lists">
        カテゴリー
        <ul class="show-category-lists hidden" id="pull-down">
          <li><%= link_to "カテゴリー一覧", categories_path %></li>
          <% Category.where.not(id:0).each do |category| %>
            <li><%= link_to category.name, category_path(category.id) %></li>
          <% end %>
        </ul>
      </li>
      <li class="detailed-search"><span class="detailed-search-title", id="detailed-search">詳細検索</span>
        <div class="search-window hidden", id="search-window">
          <p class="detailed-search-form-title">詳細検索</p>
          <%= search_form_for @q, url:search_items_path do |f| %>
            <div class="detailed-search-form">
              <%= fa_icon 'binoculars' %>
              <%= f.label :name, "キーワード" %>
              <%= f.search_field :name_cont %>
            </div>
            <div class="detailed-search-form">
              <%= fa_icon 'bars' %>
              <%= f.label :category_id, "カテゴリー" %>
              <%= f.collection_select :category_id_eq, @categories, :id, :name, include_blank: '指定なし' %>
            </div>
            <div class="detailed-search-form">
              <%= fa_icon 'star-o' %>
              <%= f.label :condition_id, "商品の状態" %>
              <%= f.collection_select :condition_id_eq, @condition, :id, :name, include_blank: '指定なし' %>
            </div>
            <div class="detailed-search-form">
              <%= fa_icon 'truck' %>
              <%= f.label :shipping_burden_id, "配送料の負担" %>
              <%= f.collection_select :shipping_burden_id_eq, @shipping_burden, :id, :name, include_blank: '指定なし' %>
            </div>
            <div class="detailed-search-form">
              <%= fa_icon 'credit-card' %>
              <%= f.label :price,"価格" %><br>
              <%= f.number_field :price_gteq, class:"price-form" %>円〜
              <%= f.number_field :price_lt, class:"price-form" %>円
            </div>
            <div class="detailed-search-form-btn">
              <%= button_tag type: 'submit', class: "search-button"  do %>
                検索<%= fa_icon 'search' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
    <ul class='lists-right'>

      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>

    </ul>
  </div>
</header>