<%= render "shared/header" %>
<div class="main">
<div class="search-wrapper">
  <div class="search-console">
      <%= search_form_for @q, remote: true ,url:search_items_path do |f| %>
        <div class="detailed-sort-form">
          <%= f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'} ) %>
        </div>
    <div class="search-form-area">
        <div class="detailed-search-form">
          <%= fa_icon 'binoculars' %>
          <%= f.label :name ,"キーワード" %><br>
          <%= f.search_field :name_cont %>
        </div>
        <div class="detailed-search-form">
          <%= fa_icon 'bars' %>
          <%= f.label :category_id, "カテゴリー" %><br>
          <%= f.collection_select :category_id_eq, @categories, :id, :name, include_blank: '指定なし' %>
        </div>
        <div class="detailed-search-form">
          <%= fa_icon 'star-o' %>
          <%= f.label :condition_id, "商品の状態" %><br>
          <div class="search-form-check_box">
            <%= f.collection_check_boxes(:condition_id_eq_any,@condition, :id, :name)  do |b|%>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </div>
        </div>
        <div class="detailed-search-form">
          <%= fa_icon 'truck' %>
          <%= f.label :shipping_burden_id, "配送料の負担" %><br>
          <div class="search-form-check_box">
            <%= f.collection_check_boxes(:shipping_burden_id_eq_any, @shipping_burden, :id, :name)  do |b|%>
              <%= b.label { b.check_box + b.text } %>
            <% end %>
          </div>
        </div>
        <div class="detailed-search-form">
          <%= fa_icon 'credit-card' %>
          <%= f.label :price,"価格" %><br>
          <%= f.number_field :price_gteq, class:"price-form", placeholder:" Min" %>~
          <%= f.number_field :price_lt, class:"price-form",placeholder:" Max" %>円
        </div>
        <div class="detailed-search-form">
          <%= fa_icon 'shopping-cart' %>
          <%= f.label :order,"販売状況" %><br>
            <div class="search-form-check_box">
              <label for="q_order_id_null" ><%= f.check_box :order_id_null,{},true,false %>販売中</label>
              <label for="q_order_id_not_null"><%= f.check_box :order_id_not_null,{},true,false %>売り切れ</label>
            </div>
        </div>
        <div class="detailed-search-form-btn">
          <div class="reset-button">
            <%= link_to "リセット", search_items_path(:q=>{"name_cont"=>""})%>
          </div>
          <%= button_tag type: 'submit', class: "search-button"  do %>
            検索 <%= fa_icon 'search' %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>

  <div class='search-item-contents', id="search-item-contents">
    <%= render partial:"items/search-item",locals: { results: @results} %>
  </div>

</div>
</div>

<%= link_to (new_item_path) do %>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </div>
<% end %>

<%= render "shared/footer" %>